/* Global Styles */
body {
    color: black; /* text-gray-200 */
    margin: 0;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Navbar */
.navbar {
    position: fixed;
    width: 50%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid black;
    z-index: 50;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 1.875rem; /* text-3xl */
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.logo:hover {
    color: #ffffff; /* text-blue-400 */
}

.nav-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 1.5rem; /* space-x-6 */
}

.nav-links a {
    text-decoration: none;
    
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ffffff; /* text-blue-400 */
}

/* Hero Section */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
    padding: 2.5rem; /* p-10 */
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    transition: opacity 1s ease-in-out;
}

#background-video.fade-out {
    opacity: 0;
}



.hero-content {
    text-align: center;
}

.hero-title {
    font-size: calc(10px + 4.80625vw);
    font-weight: bold;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    line-height: 8.5rem;
}

.line1 {
    animation: typing 2s steps(40, end), removeCursor 0s step-end 2s forwards, colorFlash 2.5s linear 2s forwards;
    border-right: .15em solid;
}

.line2 {
    animation: typing 2s steps(40, end) 2s forwards, removeCursor 0s step-end 4s forwards, colorFlash 2.5s linear 4s forwards;
    border-right: .15em solid;
    opacity: 0; /* Ocultar inicialmente */
}

@keyframes typing {
    0% {
        width: 0%;
        opacity: 1;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}

@keyframes removeCursor {
    0% {
        border-right: .15em solid;
    }
    100% {
        border-right: none;
    }
}

@keyframes colorFlash {
    0%, 100% {
        background-position: 0 0;
        color: black;
    }
    50% {
        background-position: 100% 0;
        color: transparent;
        background-size: 200%;
        background-image: linear-gradient(90deg, white, grey, rgb(65, 65, 65));
        -webkit-background-clip: text;
        background-clip: text;
    }
}



/* About Section */
.about-section {
    padding: 4rem 1rem;
    text-align: center;
    min-height: 100vh;
}

.about-section h2 {
    font-size: 2rem; /* text-4xl */
    font-weight: bold;
    margin-bottom: 1rem;
}

.about-section p {
    font-size: 1.125rem; /* text-lg */
}

/* Projects Section */
.projects-section{
    min-height: 100vh;
}


/* Footer */
.footer {
    background-color: #2d3748; /* bg-gray-800 */
    color: #a0aec0; /* text-gray-400 */
    padding: 1rem;
    text-align: center;
}

a:visited {
    color: black; /* Color for visited links */
}


.dark #dark-icon {
    display: none;
}

#dark-icon:hover{
    color: white;
}

.light #light-icon {
    display: none;
}

#light-icon:hover{
    color: rgb(173, 173, 173);
}